
# Print Command

In [3]:
print ("Hello World")           
print ("Hello \nWorld")
print ("My name is \tDerya")

Hello World
Hello
World
My name is 	Derya

###   \n : goes to the bottom line 
###   \t  (tab) : make a gap

In [4]:
print ("My name is {}".format ('Derya'))
print ("My name is {} , age {}".format ('Derya' , 20))

print ("My name is {0} , age {1}".format ('Derya' , 20))
print ("My name is {1} , age {0}".format ('Derya' , 20))

print ("My name is {name} , age {age}".format (name = 'Derya' , age=20))
print ("My name is {name} , age {age}".format ( age=20 , name = 'Derya'))

My name is Derya
My name is Derya , age 20
My name is Derya , age 20
My name is 20 , age Derya
My name is Derya , age 20
My name is Derya , age 20

# Variables

 not accepted names
 1) start with number
 2) make a gap
 3) "*/( contain symbols

#valid variable names
variable = "Derya"
va_riable = "Derya"
_va_ria_ble = "Derya"
vaRİaBle = "Derya"
VARİABLE = "Derya"
variable2 = "Derya"

#illegal variables
2variable = "Derya"
va-ria-ble = "Derya"
variab le = "Derya"

In [5]:
number = 10
print (number)

10

In [6]:
number = number + 1
print (number)

11

In [7]:
number_first = 10
print (number_first)

10

In [8]:
x, y, z = "Orange", "Banana", "Strawberry"
print(x)
print(y)
print(z)

Orange
Banana
Strawberry

In [9]:
x = "Python "
y = "wonderful"
z =  x + y
print(z)

Python wonderful

In [10]:
x = 5
y = "Derya"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
x = "beautiful"

def myfunc():
  x = "wonderful"
  print("Python " + x)

myfunc()

print("Python " + x)

Python wonderful
Python beautiful

In [16]:
x = "beautiful"

def myfunc():
  global x
  x = "wonderful"

myfunc()

print("Python " + x)

Python wonderful


Python Code                                            Variable Data Type
x = "Hello World"	                                          str
x = 20	                                                      int
x = 20.5	                                                 float
x = 1j	                                                    complex
x = ["apple", "banana", "cherry"]                          	 list
x = ("apple", "banana", "cherry")	                         tuple
x = range(6)	                                             range
x = {"name" : "John", "age" : 36}	                         dict
x = {"apple", "banana", "cherry"}	                         set
x = frozenset({"apple", "banana", "cherry"})               frozenset
x = True	                                                 bool
x = b"Hello"	                                             bytes
x = bytearray(5)	                                       bytearray
x = memoryview(bytes(5))	                               memoryview

Python Code	                                           Variable Data Types
x = str("Hello World")	                                      str
x = int(20)	                                                  int
x = float(20.5)                                              float
x = complex(1j)                                      	    complex
x = list(("apple", "banana", "cherry"))                  	 list
x = tuple(("apple", "banana", "cherry"))	                 tuple
x = range(6)                                               	 range
x = dict(name="John", age=36)	                             dict
x = set(("apple", "banana", "cherry"))                       set
x = frozenset(("apple", "banana", "cherry"))	           frozenset
x = bool(5)                                                  bool
x = bytes(5)	                                             bytes
x = bytearray(5)	                                       bytearray
x = memoryview(bytes(5))                                   memoryview

# Random

generate random numbers

In [18]:
import random

print(random.randrange(1, 10))

1