# function 2

In [10]:
def write_text(a,b):
    big_number = max(a,b)
    template_text = "{} is the big number".format(big_number)
    print(template_text)
    
write_text(5,10)

10 is the big number

In [21]:
# split

In [17]:
"Erol Mesut".split()

['Erol', 'Mesut']

In [18]:
def name_surname_seperation(name_surname):
    name = name_surname.split()[0]
    surname = name_surname.split()[1]
    return name , surname

In [19]:
name_surname_seperation("Erol Mesut")

('Erol', 'Mesut')

In [20]:
a,b = name_surname_seperation("Erol Mesut")
print(a)
print(b)

Erol
Mesut

# *args argument

In [22]:
# join

In [23]:
" ".join(["Erol" ,"Mesut"])

'Erol Mesut'

In [24]:
def name_surname_connect(name, surname):
    return " ".join([name , surname])

In [25]:
name_surname_connect("gokce", "gun")

'gokce gun'

In [26]:
# for more than 2 names

In [29]:
def name_surname_connect(*args):
    return " ".join(args)

In [30]:
name_surname_connect("Erol", "Mesut" , "Gün")

'Erol Mesut Gün'

In [31]:
def name_surname_connect(*args):
    for item in args:
        print(item)
    return " ".join(args)

In [32]:
name_surname_connect("Erol", "Mesut" , "Gün")

Erol
Mesut
Gün

'Erol Mesut Gün'

# **kwargs

In [38]:
def middle_name_print(**kwargs):
    if 'middlename' in kwargs:
        print(kwargs['middlename'])
    else:
        print('no middlename')

In [36]:
middle_name_print(name="Erol" ,middlename= "Mesut" , surname= "Gün")

Mesut

In [39]:
middle_name_print(name="Erol" , surname= "Gün")

no middlename

In [47]:
def factorial(n):  
   if n == 1:  
       return n  
   else:  
       return n*factorial(n-1)  

print(factorial(4))

24

In [48]:
def addition(k):
  if(k > 0):
    result = k + addition(k - 1)
    print(result)
  else:
    result = 0
  return result

addition(6)

1
3
6
10
15
21

21