# try, except, finally

In [14]:
round(1.5)

2

In [2]:
def convert_to_integer():
    entry = input("enter decimal number")
    
    print("the result of rounding {}".format(round(float(entry))))

In [3]:
convert_to_integer()

enter decimal number4
the result of rounding 4

In [4]:
convert_to_integer()

enter decimal number4.2
the result of rounding 4

In [5]:
def convert_to_integer():
    entry = input("enter decimal number : ")
    
    # print("the result of rounding {}".format(round(float(entry))))
    
    try:
        entry = float(entry)
        print("the result of rounding : {}".format(round(entry)))
    except:
        print("Input {} is not converted to decimal ".format(entry))

In [6]:
convert_to_integer()

enter decimal number : 2.5
the result of rounding : 2

In [7]:
convert_to_integer()

enter decimal number : dd
Input dd is not converted to decimal

In [8]:
def convert_to_integer():
    entry = input("enter decimal number : ")
    
    status=''
    
    try:
        entry = float(entry)
        print("the result of rounding : {}".format(round(entry)))
        status='successful'
    except:
        print("Input {} is not converted to decimal ".format(entry))
        status='unsuccessful'
    finally :  
        print("The conversion to integer is completed as {}".format(status))

In [9]:
convert_to_integer()

enter decimal number : 5
the result of rounding : 5
The conversion to integer is completed as successful

In [10]:
convert_to_integer()

enter decimal number : 5.6
the result of rounding : 6
The conversion to integer is completed as successful

In [11]:
def convert_to_integer_loop():
    
    while True:
        
        entry = input("enter decimal number : ")
        
        try:
            
            entry=  float(entry)
            print("the result of rounding : {}".format(round(entry)))
            break
        
        except:
            
            print("Input {} is not converted to decimal ".format(entry))
            pass

In [12]:
convert_to_integer_loop()

enter decimal number : 5
the result of rounding : 5

In [13]:
convert_to_integer_loop()

enter decimal number : der
Input der is not converted to decimal
enter decimal number : pe
Input pe is not converted to decimal
enter decimal number : gül
Input gül is not converted to decimal
enter decimal number : erer
Input erer is not converted to decimal
enter decimal number : 2.1
the result of rounding : 2

# errors

In [15]:
5 + 'a'      # TypeError

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
try :
    
    5 + 'a' 
except TypeError:
    print("Unable to operate with entered data")

Unable to operate with entered data

In [25]:
try :
    
    5 + 'a' 
except IndexError:
    print("Unable to operate with entered data")
except:
    print("the code is not working")

the code is not working

In [16]:
list = []
list[4]     # IndexError

IndexError: list index out of range

In [26]:
list = []
try :
    list[-1]
      
except IndexError:
    print("off the list")
except:
    print("the code is not working")

off the list

In [20]:
citizen = {
    'name' : 'Gülcihan' ,
    'identification_number' : 45432223334 
}
citizen['identification_number']

45432223334

In [21]:
citizen['PASS_number']       #KeyError

KeyError: 'PASS_number'

In [28]:
citizen = {
    'name' : 'Gülcihan' ,
    'identification_number' : 45432223334 
}


try :
    citizen['PASS_number']
      
except IndexError:
    print("off the list")
except KeyError:
    print("The given key value does not exist")
except:
    print("the code is not working")

The given key value does not exist